<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program</title>
    <link rel="" href="">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/program.css">
    <script src="/js/js.js"></script>
    <style>
        hr {
            color: white;
        }

        .offcanvas {
            margin-top: 55px;
            margin-left: 0;
            background-color: rgb(0, 0, 0, 0.88);
            width: 25% !important;
        }

        .nav-link {
            text-align: center;
            border-radius: 30px;
            margin-top: 5%;
            padding: 2%;
        }

        .nav-link:hover {
            background-color: rgb(255, 255, 255, 0.88);
            color: rgb(0, 0, 0);
            font-weight: bold;
        }

        .title {
            color: rgb(255, 255, 255);
        }

        .title:hover {
            font-size: larger;
        }

        h1 {
            border-radius: 30px;
            padding-top: 1%;
        }

        ul {
            list-style: none;
            position: relative;
            display: inline-block;
            margin: 0;
        }

        #contents {

            justify-content: center;
            margin: auto;
            align-items: center;

        }

        #contents li {
            background-color: blue;
            margin: 1%;
            margin-left: 0;
            padding: 2%;
            width: 30%;
            border-radius: 10px;
            float: left;
        }

        #contents li:hover {
            background-color: rgb(0, 0, 255, 0.58);
        }

        #contents a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: larger;
        }

        table {
            width: fit-content;
        }

        th,
        td {
            font-size: larger;
        }

        @media(max-width: 600px) {
            #contents {
                margin: 5%;
                margin-top: 15%;
            }

            .offcanvas {
                margin-top: 55px;
                margin-left: 0;
                background-color: rgb(0, 0, 0, 0.88);
                width: 30% !important;
            }

            .nav-link {
                text-align: center;
                border-radius: 30px;
                margin-top: 5%;
                padding: 1%;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" onclick="fun2()" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel"
                data-bs-scroll="true" data-bs-backdrop="false">
                <div class="offcanvas-body fixed-start">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <span class="title"><b>Existing</b>
                            </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active bg-black" href="program.html">BE/BTECH</a>
                        </li>
                        <hr>
                        <li class="nav-item">
                            <span class="title"><b>New</b>
                            </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="?u_code=<%= data.u_code %>&pro_id=<%= data.pro_id %>">Add College</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="?u_code=<%= data.u_code %>&pro_id=<%= data.pro_id %>&collage_id=<%= data.collage_id %> ">Add Course</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="login-box">
        <div>
            <p style="color:white;">You Are addeding to this <%= data.university %> 
            </p>
        </div>
        <h2>Program Details</h2>
        <form action="/university?u_code=<%= data.u_code %>?pro_id=GTU_DE" method="post" onsubmit="(e,this)=>{
                        e.preventDefault();
                        const pro_id = `<%= data.u_code %>`+this.pro_short_name.value.toUpperCase();
                        const u_id = `<%= data.u_code%>`;
                        
                        this.assign(pro_id);
                        this.assign(u_id);

                        this.submit();

                }">
            <!-- <div class="user-box">
        <input type="text" name="" onfocus="fun(this, 'User Name')" onfocusout="focusOutFun(this)" required="">
        <label>Program_id</label>
      </div> -->
            <div class="user-box">
                <input type="text" name="pro_name" onfocus="fun(this, 'bachelor of engineering')"
                    onfocusout="focusOutFun(this)" required="">
                <label>Program_name</label>
            </div>
            <div class="user-box">
                <input type="text" name="pro_short_name" onfocus="fun(this, 'BE')" onfocusout="focusOutFun(this)" required=""
                    placeholder="">
                <label>Program_short_name</label>
            </div>
            <div class="user-box">
                <input type="text" name="pro_duration" onfocus="fun(this, '4')" onfocusout="focusOutFun(this)" required="">
                <label>Program_duration</label>
            </div>
            <div class="user-box">
                <input type="text" name="pro_total_collages" onfocus="fun(this, '100')" onfocusout="focusOutFun(this)" required="">
                <label>Program_total_collagess</label>
            </div>
            <div class="user-box">
                <input type="text" name="university" onfocus="fun(this, 'gujarat technological university')"
                    onfocusout="focusOutFun(this)" required="">
                <label>University</label>
            </div>
            <!-- <a href="#" style="margin: 0;"> -->
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="submit" value="Submit" style="background: transparent; color: #03e9f4;border: none;">
                <!-- Login -->
            <!-- </a> -->
        </form>
    </div>

    <script>
    var toggle = 1;
    function fun2() {
      if (toggle == 1) {
        document.getElementById("contents").style.marginLeft = "30%";
        toggle = 0;
      }
      else {
        document.getElementById("contents").style.marginLeft = "5%";
        toggle = 1;
      }
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>





















<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>program</title>
    <link rel="stylesheet" href="program.css">
</head>

<body>

</body>

</html>