<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program</title>
    <link rel="" href="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="/css/pages.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" onclick="fun()" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel"
                data-bs-scroll="true" data-bs-backdrop="false">
                <div class="offcanvas-body fixed-start">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <span class="title"><b>Existing</b>
                            </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active bg-black" href="/university"><%= data.u_name %></a>
                        </li>
                        <hr>
                        <li class="nav-item">
                            <span class="title"><b>New</b>
                            </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/university/create?u_code=<%= data.u_code %>">Add Program</a>
                            <!-- <a class="nav-link" href="/university/add-program">Add Program</a> -->
                        </li><br>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Add College</a>
                        </li><br>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Add Course</a>
                        </li><br> -->
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="contents">
        <h1>University</h1>
        <table> 
            <tr>
                <th>Name</th>
                <th>:</th>
                <td><%= data.u_name %></td>
            </tr>
            <tr>
                <th>Short Name</th>
                <th>:</th>
                <td><%= data.u_short_name %></td>
            </tr>
            <tr>
                <th>Affilation</th>
                <th>:</th>
                <td><%= data.u_affilation %></td>
            </tr>
            <tr>
                <th>University Code</th>
                <th>:</th>
                <td><%= data.u_code %></td>
            </tr>
            <tr>
                <th>Vice Chancellor</th>
                <th>:</th>
                <td><%= data.vc_name %></td>
            </tr>
            <tr>
                <th>Vice chancellor number</th>
                <th>:</th>
                <td><%= data.vc_number %></td>
            </tr>
            <tr>
                <th>Chancellor</th>
                <th>:</th>
                <td><%= data.head_name %></td>
            </tr>
            <tr>
                <th>Head Number</th>
                <th>:</th>
                <td><%= data.head_number %></td>
            </tr>
            <tr>
                <th>Total Programs</th>
                <th>:</th>
                <td><%= data.total_Program %></td>
            </tr>
        </table>
        <h1>Programs:</h1>
        <ul>
            <!-- <li><a href="program.html">Bachelor of Engineering (BE)</a></li> -->
            <!-- <li><a href="#">Diploma Engineering (DE)</a></li> -->
            <% data2.forEach((obj)=>{ %>
                <li><a href="?u_code=<%= obj.u_code %>&pro_id=<%= obj.pro_id %>"><%= obj.pro_name %></a></li>
            <%});%>
        </ul>
        <a href="/university/create?u_code=<%= data.u_code %>"><button class="button">Add Program</button></a>
    </div>
    <script>
        var toggle = 1;
        function fun() {
            if (toggle == 1) {
                document.getElementById("contents").style.marginLeft = "30%";
                toggle = 0;
            }
            else {
                document.getElementById("contents").style.marginLeft = "5%";
                toggle = 1;
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>